.page-header
  .float-right
    - if @gist.persisted?
      = link_to @gist, method: :delete, class: 'text-danger', data: { confirm: 'Delete gist?' } do
        %span{class: "glyphicon glyphicon-remove"}
        Delete
  %h1 Editing gist

= render 'form', gist: @gist
