.page-header
  .row
    .col
      %h1 Editing gist
    .col
      .text-right
        - if @gist.persisted?
          = link_to @gist, method: :delete, class: 'btn btn-outline-danger', data: { confirm: 'Delete gist?' } do
            %span{class: "glyphicon glyphicon-remove"}
            Delete

= render 'form', gist: @gist, g_files: @gist.g_files
