.page-header
  .row
    .col
      %h1 Editing gist
      .pb-1
        - if @gist.persisted?
          = link_to @gist, method: :delete, class: 'mb-4 text-danger', data: { confirm: 'Delete gist?' } do
            %span{class: "glyphicon glyphicon-remove"}
            Delete

= render 'form', gist: @gist, g_files: @gist.g_files
